h1, h2{
	font-family: 'ABeeZee';
	color: #0F084B;
}
h1{
	text-align: center;
}
h2#donationsin{
	margin-left: 310px;
}
h2{
	margin-top: 10px;
	display: inline-block;
	
}
#title{
	height: 50px;
	
}
body {
	background-color: #A6CFD5;
	margin: 0px;
}
#line{
	height: 2px;
	background-color: #0D0221;
}
#changeloc{
	display: inline-flex;
	width: 100px;
	height: 50px;
	background-color: red;
	float: right;
}